<html>
<head>
      <title>Node.js Project_1</title>
</head>
<body>
      <div>
            <h1>Node.js Project_1</h1>
            <h3>20170844 우성민</h3>
      </div>
      <div>
            <form id="form" action="/" method="post" enctype="multipart/form-data">
                  <input type="file" name="txt" />
                  <input type="text" name="title" placeholder="Title">
                  <button type="submit">업로드</button>
            </form>
      </div>
      <div>
            <button type="button" class="moveBtn" onclick="location.href='/result_back'">결과보기</button>
      </div>
<body>
<html>