<html>
<head>
      <title>result.page</title>
      <style>
            li {display: inline;}
      </style>
</head>
<body>
      <div>
            <h1>Node.js Project_1 ResultPage</h1>
            <h3>20170844 우성민</h3>
      </div>
      <div>
            <ul>
                  <li><button id="core1" type="button" onclick=";">core1</button><li>
                  <li><button id="core2" type="button">core2</button></li>
                  <li><button id="core3" type="button">core3</button></li>
                  <li><button id="core4" type="button">core4</button></li>
                  <li><button id="core5" type="button">core5</button></li>
            </ul>
            <ul>
                  <li><button id="task1" type="button">task1 </button><li>
                  <li><button id="task2" type="button">task2 </button></li>
                  <li><button id="task3" type="button">task3 </button></li>
                  <li><button id="task4" type="button">task4 </button></li>
                  <li><button id="task5" type="button">task5 </button></li>
            </ul>
      </div>
</body>
</html>